// main style file by Maxim Sinukov

html, body {
}
body {
    transition: 1s;
    font-family: 'ral';
    color: #353535;
    margin: 0 !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    outline: none;
}


