.lang .niceSelect .current { margin-right: 0; }

.html b, .html strong { font-weight: 700 !important; }

.users__user { width: 100%; margin-right: 0; }

.profile__users { height: 174px; overflow: auto; }

.profile__users { height: 174px; overflow: auto; }

@media only screen and (max-width: 600px) { .mob__top .btn { width: 100px; }
  .mob__top .mob__title { display: none; }
  .mob__top .niceSelect { width: 120px; } }

.nav__item { padding: 10px !important; }

@media screen and (max-width: 480px) { .nav__navs { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .nav__item { width: 100%; margin: 0 !important; margin-bottom: 10px !important; }
  .nav__create { margin-left: 0; margin-right: 0; width: 100%; }
  .nav__footer { width: 100%; margin: 0; } }

.top-button { position: fixed; bottom: 30px; right: 30px; width: 50px; height: 50px; background-color: #fff; border-radius: 50%; background-image: -webkit-linear-gradient(0deg, #0082ff 0%, #00d0ff 100%); background-image: -ms-linear-gradient(0deg, #0082ff 0%, #00d0ff 100%); -webkit-box-shadow: 0 0px 32px 0 rgba(0, 130, 255, 0.27); box-shadow: 0 0px 32px 0 rgba(0, 130, 255, 0.27); -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #fff; text-transform: uppercase; display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: center; -ms-align-items: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; -webkit-transform: translateY(150px); -ms-transform: translateY(150px); transform: translateY(150px); }

.invite_project { margin-bottom: 30px; }

body { scroll-behavior: smooth; }

.top-button.active { -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); }

.top-button:hover { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.top-button svg { fill: white; width: 20px; height: 20px; }

.menu__items .menu__item { border-bottom: 1px solid #eee; }

.redirect_on_change { width: 70px; }

.social__box:last-child .social__icon { margin-right: 0; }

.drct__img { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; width: 110px; height: 110px; border: 1px solid #eee; border-radius: 50%; }

.drct__img img:last-child { top: 50%; left: 50% !important; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.sidebar__social .social { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.donat__img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 1px solid #eee; }

.target-caption { -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media screen and (max-width: 767px) { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.event__category { margin-top: 15px; }

.sidebar__box { padding: 20px 10px 24px; }

.bibl__title { line-height: 23px; }

.profile__logo { background-size: cover; background-position: center center; }

.profile__logo img { display: none; }

.iconbox__box { background-color: #fff; }

.cabinet__link { white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; max-width: 100%; display: block; padding-top: 13px; padding-bottom: 13px; }

.cabinet__bg { padding: 0; }

.input__input { font-size: 14px; }

.org__txt { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; max-width: 120px; display: block; }

.org__right .profile__text { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; max-width: 120px; display: block; }

.event__roz { margin-right: 15px; width: calc(50% - 15px); }

.sidebar__news { margin-bottom: 20px; }

.profile__text { display: block; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; height: 15px; }

.reviews__name span { min-width: 300px; }

.filter--white { margin-top: 30px; }

.target__item-container{
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.5s;
  position: absolute;
}

.target__item {
  perspective: 1000px;
  position: relative;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 1px;
  height: 100px;
}
.target__item .target-flip {
  z-index: 10;
}
.target__item .target-flop {
  z-index: 0;
}

.target__item .target-flip {
  transform: rotatey(0deg);
}
.target__item .target-flop {
  transform: rotatey(-180deg);
}
.target__item:hover .target-flip {
  transform: rotatey(180deg);
}
.target__item:hover .target-flop {
  transform: rotatey(0deg);
}
.target__item:hover {
  transform: scale(1) !important;
}
.target__button a {
  transform: none;
  opacity: 1;
}
.target__button a:hover {
  transform: scale(1.1) !important;
}
.target__button {
  background-color: rgb(196, 196, 196) !important;
}
.target__item-container{
  width: 100%;
  height: 190px;
}
.drct__caption-right {
  flex-wrap: wrap;
}
.drct__caption-item {
  margin-bottom: 15px;
}
.drct__caption-left {
  margin-top: 10px;
  align-self: flex-start;
}

@media screen and (max-width: 800px) {
    .header__box:nth-child(3) {
      display: flex !important;
    }
}

.html__image {
  display: inline;
}